<h1>Name Your List!</h1>

<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for(:items) do |ff| %>
    <div class="field">
      <%= ff.label :description, "To Do Item" %><br>
      <%= ff.text_area :description %>
    </div>
    <div class="field">
      <%= ff.label :due_date %><br>
      <%= ff.date_select :due_date %>
    </div>
    <div class="field">
      <%= ff.label :order %><br>
      <%= ff.number_field :order %>
    </div>
    <div class="question-type">
      <%= ff.label :completed %>
      <%= ff.check_box(:completed) %>
    </div>
  <% end%>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
