<p id="notice"><%= notice %></p>

<p>
  <strong><%= @list.name %></strong>
</p>

<p>To Do</p>
  <div id="all-items-container">
    <%= render @items %>
  </div>

<div id="new-item-container">
</div>

<%= link_to "New Task", new_item_path(list_id: @list.id), remote: true %>

<%= link_to 'Back', root_path %>
