<p id="notice"><%= notice %></p>

<p>
  <strong><%= @list.name %></strong>
</p>

<p>To Do</p>
<div id="all-items-container">
  <%= render partial: @items%>
</div>

<div id="new-item-container">
  <%= link_to "New Task", new_item_path, remote: true %>
<div>

<%= link_to 'Back', root_path %>
