<%= form_for @item, remote: true do |f| %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.hidden_field :order %><br>
  </div>
  <div class="field">
    <%= f.hidden_field :list_id%><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
